*{
    margin: 0;
    padding: 0;
}
/* Question 1-5 */
.navbar{
    background-color: black;
    height: 50px;
    position:sticky;
    top:0%;
    width:100%;
}
.navbar ul{
    display: flex;
    gap: 30px;
}
.navbar ul li{
  
    margin: 10px;
}
.navbar ul li a{
    font-size: 30px;
    color:white;
    text-decoration: none;
   margin-left: 90%;
   
}
.icon{
    color:white;
    margin-left: 50%;
   margin-top: 20px;
}



/* Question -2*/
 .heading{
    color:darkred;
    margin-left: 500px;
    margin-top: 30px;
    &&:hover{
        color: deeppink;
    }
    
 }
.colunm{
    
   gap: 20px;
   margin-left: 500px;
  

    .colunm1 img{
        margin-top: 30px;
        height: 250px;
        border: 3px solid  white;
       &&:hover{
        border: 3px solid red;
        
       }
    }
}


/* Question 3 */
.back img{
    background-color: lightslategray;
    height: 200px;
    margin-left: 35%;
    &&:hover {
        color:red;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border: 2px solid black;
        
      }
}




       
    

/* Question -4 */

.content{
    background-color: cadetblue;
    height: 300px;
    
}











/* Question -6 */
.input1{
    margin-left: 30%;
    margin-top: 40px;
    border: 3px solid black;
    width: 600px;
    height: 700px;
}
.input3{
    margin-left: 220px;
    margin-top: 20px;
}
.input{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    margin-left: 39px;
}

.button{
    height: 50px;
    width: 120px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 20px;
    color: black;
    &&:hover{
        border: 3px solid red;
    }
}

/* Question -7 */

.login{
    margin-left: 400px;
   
    width: 600px;
    &&:hover{
     
        border: 3px solid gray;
    }
}

/* Question -8 */
.button1{
    background-color: aqua;
    height: 200px;
   
}
.bt{
    margin-top: 100px;
    margin-left: 45%;
    height: 60px;
    width: 200px;
    font-size: 20px;
    color: red;
    background-color: blue;
    border-radius: 20px;
    border: 3px solid red;
    &&:hover{
        background-color: black;
        color: white;
        border: 3px solid white;
    }
}